// light mode:
$lightmode-color-light: #fff;
$lightmode-color-dark: #404040;
$lightmode-color-input-background: #d9d9d9b3;
$lightmode-color-checkbox-off: #d9d9d9;
$lightmode-color-input-text: #22222299;
$lightmode-color-small-text: #d9d9d9;

// dark mode:
$darkmode-color-dark: #222222;
$darkmode-color-light: #d9d9d9;
$darkmode-color-lightest: #fff;
$darkmode-color-small-text: #a5a5a5;

// both modes:
$color-medium: #c5c5c5;
$color-accent: #4d861f;
$color-warning: #ff5d5d;

// fonts
$font-family-primary: "Open Sans", sans-serif;
$font-family-accent: "Playfair Display", serif;