@use '../variables';

.footer {
    padding-block-start: 1.4rem;
    padding-block-end: 1rem;
    padding-inline: 1.4rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -8px 5px variables.$color-medium;

    &__button {
        background-color: variables.$lightmode-color-light;
        border: none;
        color: variables.$lightmode-color-dark;
        font-family: variables.$font-family-primary;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
    }
}